<h2>Otoo</h2>

<%= form_for @asa do |f| %>

  <div class="field">
    <%= f.label :image, "ç”»åƒ" %>
    <%= f.file_field :image, :size => 30 %>
  </div>
  
  <div class="field">
    <%= f.label :odai, "ä¸€è¨€ã‚³ãƒ¡ãƒ³ãƒˆðŸ¤®" %>
    <%= f.text_field :odai, :size => 30 %>
  </div>
    <%= f.select :category, [["å‹•ç‰©", "å‹•ç‰©"], ["ã‚¢ãƒ‹ãƒ¡", "ã‚¢ãƒ‹ãƒ¡"], ["ç¾Žå®¹", "ç¾Žå®¹"] ,["ãƒ“ã‚¸ãƒã‚¹", "ãƒ“ã‚¸ãƒã‚¹"] ,["èŠ¸èƒ½äºº", "èŠ¸èƒ½äºº"] ,["ã‚¤ãƒ™ãƒ³ãƒˆãƒ»ãŠç¥­ã‚Š", "ã‚¤ãƒ™ãƒ³ãƒˆãƒ»ãŠç¥­ã‚Š"] ,["é£Ÿã¹ç‰©", "é£Ÿã¹ç‰©"] ,["ãƒžãƒ³ã‚¬", "ãƒžãƒ³ã‚¬"] ,["ãƒŸãƒ¼ãƒ ", "ãƒŸãƒ¼ãƒ "] ,["æ˜ ç”»", "æ˜ ç”»"] ,["éŸ³æ¥½", "éŸ³æ¥½"] ,["ã‚¹ãƒãƒ¼ãƒ„", "ã‚¹ãƒãƒ¼ãƒ„"] ,["å‹‰å¼·", "å‹‰å¼·"] ,["ãƒ•ã‚¡ãƒƒã‚·ãƒ§ãƒ³", "ãƒ•ã‚¡ãƒƒã‚·ãƒ§ãƒ³"] ,["æ—…è¡Œ", "æ—…è¡Œ"] ,["ãƒ†ãƒ¬ãƒ“ç•ªçµ„ãƒ»ãƒ‰ãƒ©ãƒž", "ãƒ†ãƒ¬ãƒ“ç•ªçµ„ãƒ»ãƒ‰ãƒ©ãƒž"] ,["ã‚²ãƒ¼ãƒ ", "ã‚²ãƒ¼ãƒ "] ,["ãã®ä»–", "ãã®ä»–"]], include_blank: "Which one?" %>
    <%= f.submit "Post" %>
<% end %>
  
<%= link_to "Back", asas_path %>  
